
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #444;
    background-color: #e6ebed55;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #222;
    margin-bottom: 0.8em;
}

p {
    margin-bottom: 10;
    font-weight: 30;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
}


.button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 25px;
    border: 1px solid #222;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 15px;
    
}

.button:hover {
    border-color: black;
    color: white;
    background-color: black;
    box-shadow: 5px 5px 50px black;
}

.button-small {
    display: inline-block;
    border: 1px solid #555;
    color: #555;
    padding: 8px 15px;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 10px;
}

.button-small:hover {
    background-color: black;
    border-color: black;
    color: white;
    box-shadow: 5px 5px 50px black;
}

.header {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px 15px 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.site-title {
    display: inline-block;
    margin: 0 auto 10px auto;
    padding: 5px 0;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.main-nav {
    list-style: none;
    padding: 5px 0;
    display: block;
    border: 2px solid black;
    background-color: #eee;
}

.main-nav li {
    display: inline-block;
    margin: 0 15px;
    background-color: #eee;
}

.main-nav li a {
    font-size: 15px;
    text-transform: uppercase;
}

.main-nav li a.shop-link {
    color: #b08d57;
}


.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
}

.hero-image {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
    border-radius: 20%;
    border: 10px solid black;
    
    
}

.hero-text {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.lookbook-section {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;         
  justify-content: center; 
  gap: 40px;           
}

.section-heading {
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.lookbook-item {
  flex: 1 1 calc(33.333% - 40px); 
  max-width: 300px;               
  background-color: #fff;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 15px;
  
  
}
.lookbook-item:hover{
    box-shadow: 0 0 20px black;
    transform: scale(1.1);
    transition: 0.5s;

}

.lookbook-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
    
}


.footer-container {
    background-color: #222;
    color: #ccc;
    padding: 30px 20px;
    text-align: center;
    font-size: 0.85em;
}

.footer-container p {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-nav {
    list-style: none;
    display: block; 
}

.footer-nav li {
    display: inline-block;
    margin: 0 10px;
}

.footer-nav li a {
    color: #ccc;
    
    
}
.foot:hover{
    color: black;
    background-color: white;
}
.logo{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 100%;
    box-shadow: 5px 5px 50px black;
}
#imagess{
    border-radius: 15px;
}